lab07/hw74-tady-pokracujeme/eshop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apolicky.cz/nswi145/eshop" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://apolicky.cz/nswi145/eshop" name="EshopSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://apolicky.cz/nswi145/eshop" schemaLocation="eshop.xsd"/>
</xsd:schema>
</types>
<message name="totalAmount">
<part name="parameters" element="tns:totalAmount"/>
</message>
<message name="totalAmountResponse">
<part name="parameters" element="tns:totalAmountResponse"/>
</message>
<message name="cancelOrder">
<part name="parameters" element="tns:cancelOrder"/>
</message>
<message name="cancelOrderResponse">
<part name="parameters" element="tns:cancelOrderResponse"/>
</message>
<message name="addYoghurt">
<part name="parameters" element="tns:addYoghurt"/>
</message>
<message name="addYoghurtResponse">
<part name="parameters" element="tns:addYoghurtResponse"/>
</message>
<portType name="eshopIfce">
<operation name="totalAmount">
<input wsam:Action="http://apolicky.cz/nswi145/eshop/eshopIfce/totalAmountRequest" message="tns:totalAmount"/>
<output wsam:Action="http://apolicky.cz/nswi145/eshop/eshopIfce/totalAmountResponse" message="tns:totalAmountResponse"/>
</operation>
<operation name="cancelOrder">
<input wsam:Action="http://apolicky.cz/nswi145/eshop/eshopIfce/cancelOrderRequest" message="tns:cancelOrder"/>
<output wsam:Action="http://apolicky.cz/nswi145/eshop/eshopIfce/cancelOrderResponse" message="tns:cancelOrderResponse"/>
</operation>
<operation name="addYoghurt">
<input wsam:Action="http://apolicky.cz/nswi145/eshop/eshopIfce/addYoghurtRequest" message="tns:addYoghurt"/>
<output wsam:Action="http://apolicky.cz/nswi145/eshop/eshopIfce/addYoghurtResponse" message="tns:addYoghurtResponse"/>
</operation>
</portType>
<binding name="EshopSoapBinding" type="tns:eshopIfce">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="totalAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addYoghurt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EshopSoap">
<port name="EshopSoap" binding="tns:EshopSoapBinding">
<soap:address location="http://localhost:8000/eshopIfce"/>
</port>
</service>
</definitions>