lab07/hw74-tady-pokracujeme/eshop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<xs:schema xmlns:tns="http://apolicky.cz/nswi145/eshop" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://apolicky.cz/nswi145/eshop">

<xs:element name="addYoghurt" type="tns:addYoghurt"/>

<xs:element name="addYoghurtResponse" type="tns:addYoghurtResponse"/>

<xs:element name="cancelOrder" type="tns:cancelOrder"/>

<xs:element name="cancelOrderResponse" type="tns:cancelOrderResponse"/>

<xs:element name="totalAmount" type="tns:totalAmount"/>

<xs:element name="totalAmountResponse" type="tns:totalAmountResponse"/>

<xs:complexType name="addYoghurt">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="flavor_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addYoghurtResponse">
<xs:sequence>
<xs:element name="add_success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalAmount">
<xs:sequence>
<xs:element name="total_amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalAmountResponse">
<xs:sequence>
<xs:element name="total_amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelOrder">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cancelOrderResponse">
<xs:sequence>
<xs:element name="cancel_success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>