lab07/hw74-tady-pokracujeme/paywall.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apolicky.cz/nswi145/paywall" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://apolicky.cz/nswi145/paywall" name="PaywallSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://apolicky.cz/nswi145/paywall" schemaLocation="paywall.xsd"/>
</xsd:schema>
</types>
<message name="pay">
<part name="parameters" element="tns:pay"/>
</message>
<message name="payResponse">
<part name="parameters" element="tns:payResponse"/>
</message>
<message name="getReciept">
<part name="parameters" element="tns:getReciept"/>
</message>
<message name="getRecieptResponse">
<part name="parameters" element="tns:getRecieptResponse"/>
</message>
<message name="fillCredentials">
<part name="parameters" element="tns:fillCredentials"/>
</message>
<message name="fillCredentialsResponse">
<part name="parameters" element="tns:fillCredentialsResponse"/>
</message>
<portType name="paywallIfce">
<operation name="pay">
<input wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/payRequest" message="tns:pay"/>
<output wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/payResponse" message="tns:payResponse"/>
</operation>
<operation name="getReciept">
<input wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/getRecieptRequest" message="tns:getReciept"/>
<output wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/getRecieptResponse" message="tns:getRecieptResponse"/>
</operation>
<operation name="fillCredentials">
<input wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/fillCredentialsRequest" message="tns:fillCredentials"/>
<output wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/fillCredentialsResponse" message="tns:fillCredentialsResponse"/>
</operation>
</portType>
<binding name="PaywallSoapBinding" type="tns:paywallIfce">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReciept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fillCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PaywallSoap">
<port name="PaywallSoap" binding="tns:PaywallSoapBinding">
<soap:address location="http://localhost:8001/paywallIfce"/>
</port>
</service>
</definitions>