lab06/src/main/webapp/wsdl/PaywallSoap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apolicky.cz/nswi145/paywall" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaywallSoap" targetNamespace="http://apolicky.cz/nswi145/paywall">
  
  <types>
    
    <xsd:schema>
      
      <xsd:import namespace="http://apolicky.cz/nswi145/paywall" schemaLocation="paywall.xsd"/>
      
    </xsd:schema>
    
  </types>
  
  <message name="pay">
    
    <part element="tns:pay" name="parameters"/>
    
  </message>
  
  <message name="payResponse">
    
    <part element="tns:payResponse" name="parameters"/>
    
  </message>
  
  <message name="getReciept">
    
    <part element="tns:getReciept" name="parameters"/>
    
  </message>
  
  <message name="getRecieptResponse">
    
    <part element="tns:getRecieptResponse" name="parameters"/>
    
  </message>
  
  <message name="fillCredentials">
    
    <part element="tns:fillCredentials" name="parameters"/>
    
  </message>
  
  <message name="fillCredentialsResponse">
    
    <part element="tns:fillCredentialsResponse" name="parameters"/>
    
  </message>
  
  <portType name="PaywallSoap">
    
    <operation name="pay">
      
      <input message="tns:pay" wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/payRequest"/>
      
      <output message="tns:payResponse" wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/payResponse"/>
      
    </operation>
    
    <operation name="getReciept">
      
      <input message="tns:getReciept" wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/getRecieptRequest"/>
      
      <output message="tns:getRecieptResponse" wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/getRecieptResponse"/>
      
    </operation>
    
    <operation name="fillCredentials">
      
      <input message="tns:fillCredentials" wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/fillCredentialsRequest"/>
      
      <output message="tns:fillCredentialsResponse" wsam:Action="http://apolicky.cz/nswi145/paywall/paywallIfce/fillCredentialsResponse"/>
      
    </operation>
    
  </portType>
  
  <binding name="PaywallSoap" type="tns:PaywallSoap">
    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <operation name="pay">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body use="literal"/>
        
      </output>
      
    </operation>
    
    <operation name="getReciept">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body use="literal"/>
        
      </output>
      
    </operation>
    
    <operation name="fillCredentials">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body use="literal"/>
        
      </output>
      
    </operation>
    
  </binding>
  
  <service name="PaywallSoap">
    
    <port binding="tns:PaywallSoap" name="PaywallSoap">
      
      <soap:address location="http://localhost:9876/lab06/services/PaywallSoap"/>
      
    </port>
    
  </service>
  
</definitions>
