lab07/hw7/eshop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab02/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab02/" name="eshopImplService">
<wsdl:types>
<xs:schema version="1.0" elementFormDefault="qualified" targetNamespace="http://lab02/">

    <xs:element name="addYoghurt" type="addYoghurt"/>
    <xs:element name="addYoghurtResponse" type="addYoghurtResponse"/>
    <xs:element name="cancelOrder" type="cancelOrder"/>
    <xs:element name="cancelOrderResponse" type="cancelOrderResponse"/>
    <xs:element name="totalAmount" type="totalAmount"/>
    <xs:element name="totalAmountResponse" type="totalAmountResponse"/>
    <xs:complexType name="addYoghurt">
    <xs:sequence>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addYoghurtResponse">
    <xs:sequence>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="totalAmount">
    <xs:sequence>
    <xs:element name="total_amount" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="totalAmountResponse">
    <xs:sequence>
    <xs:element name="total_amount" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cancelOrder">
    <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="cancelOrderResponse">
    <xs:sequence>
    <xs:element name="cancel_success" type="xs:boolean"/>
    </xs:sequence>
    </xs:complexType>

</xs:schema>
</wsdl:types>

<wsdl:message name="totalAmount">
<wsdl:part name="parameters" element="tns:totalAmount"/>
</wsdl:message>

<wsdl:message name="totalAmountResponse">
<wsdl:part name="parameters" element="tns:totalAmountResponse"/>
</wsdl:message>




<wsdl:message name="cancelOrder">
<wsdl:part name="parameters" element="tns:cancelOrder"/>
</wsdl:message>
<wsdl:message name="cancelOrderResponse">
<wsdl:part name="parameters" element="tns:cancelOrderResponse"/>
</wsdl:message>
<wsdl:message name="addYoghurt">
<wsdl:part name="parameters" element="tns:addYoghurt"/>
</wsdl:message>
<wsdl:message name="addYoghurtResponse">
<wsdl:part name="parameters" element="tns:addYoghurtResponse"/>
</wsdl:message>

<wsdl:portType name="eshopIfce">

<wsdl:operation name="totalAmount">
<wsdl:input wsam:Action="http://lab02/eshopIfce/totalAmountRequest" message="tns:totalAmount"/>
<wsdl:output wsam:Action="http://lab02/eshopIfce/totalAmountResponse" message="tns:totalAmountResponse"/>
</wsdl:operation>

<wsdl:operation name="cancelOrder">
<wsdl:input wsam:Action="http://lab02/eshopIfce/cancelOrderRequest" message="tns:cancelOrder"/>
<wsdl:output wsam:Action="http://lab02/eshopIfce/cancelOrderResponse" message="tns:cancelOrderResponse"/>
</wsdl:operation>

<wsdl:operation name="addYoghurt">
<wsdl:input wsam:Action="http://lab02/eshopIfce/addYoghurtRequest" message="tns:addYoghurt"/>
<wsdl:output wsam:Action="http://lab02/eshopIfce/addYoghurtResponse" message="tns:addYoghurtResponse"/>
</wsdl:operation>

</wsdl:portType>

<wsdl:binding name="eshopImplPortBinding" type="tns:eshopIfce">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="totalAmount">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="cancelOrder">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="addYoghurt">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="eshopImplService">
<wsdl:port name="eshopImplPort" binding="tns:eshopImplPortBinding">
<soap:address location="http://localhost:8000/eshopIfce"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>