lab07/hw7/paywall.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab02/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab02/" name="paywallImplService">
<types>
<xs:schema version="1.0" targetNamespace="http://lab02/">

    <xs:element name="fillCredentials" type="tns:fillCredentials"/>
    <xs:element name="fillCredentialsResponse" type="tns:fillCredentialsResponse"/>
    <xs:element name="getReciept" type="tns:getReciept"/>
    <xs:element name="getRecieptResponse" type="tns:getRecieptResponse"/>
    <xs:element name="pay" type="tns:pay"/>
    <xs:element name="payResponse" type="tns:payResponse"/>
    <xs:complexType name="getReciept">
    <xs:sequence>
    <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getRecieptResponse">
    <xs:sequence>
    <xs:element name="reciept_pdf" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pay">
    <xs:sequence>
    <xs:element name="account_balance" type="xs:int"/>
    <xs:element name="amount" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="payResponse">
    <xs:sequence>
    <xs:element name="new_balance_OR_failed_payment" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fillCredentials">
    <xs:sequence>
    <xs:element name="card_owner" type="xs:string" minOccurs="0"/>
    <xs:element name="card_id" type="xs:int"/>
    <xs:element name="expir_date" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fillCredentialsResponse">
    <xs:sequence/>
    </xs:complexType>


</xs:schema>
</types>
<message name="pay">
<part name="parameters" element="tns:pay"/>
</message>
<message name="payResponse">
<part name="parameters" element="tns:payResponse"/>
</message>
<message name="getReciept">
<part name="parameters" element="tns:getReciept"/>
</message>
<message name="getRecieptResponse">
<part name="parameters" element="tns:getRecieptResponse"/>
</message>
<message name="fillCredentials">
<part name="parameters" element="tns:fillCredentials"/>
</message>
<message name="fillCredentialsResponse">
<part name="parameters" element="tns:fillCredentialsResponse"/>
</message>
<portType name="paywallIfce">
<operation name="pay">
<input wsam:Action="http://lab02/paywallIfce/payRequest" message="tns:pay"/>
<output wsam:Action="http://lab02/paywallIfce/payResponse" message="tns:payResponse"/>
</operation>
<operation name="getReciept">
<input wsam:Action="http://lab02/paywallIfce/getRecieptRequest" message="tns:getReciept"/>
<output wsam:Action="http://lab02/paywallIfce/getRecieptResponse" message="tns:getRecieptResponse"/>
</operation>
<operation name="fillCredentials">
<input wsam:Action="http://lab02/paywallIfce/fillCredentialsRequest" message="tns:fillCredentials"/>
<output wsam:Action="http://lab02/paywallIfce/fillCredentialsResponse" message="tns:fillCredentialsResponse"/>
</operation>
</portType>
<binding name="paywallImplPortBinding" type="tns:paywallIfce">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReciept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fillCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="paywallImplService">
<port name="paywallImplPort" binding="tns:paywallImplPortBinding">
<soap:address location="http://localhost:8001/paywallIfce"/>
</port>
</service>
</definitions>