lab07/calc3/CalcProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://nswi145/Calc3/wsdl" 
   xmlns:tnsxsd="http://nswi145/Calc3/xsd" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
   xmlns:calc="http://tempuri.org/"
   targetNamespace="http://nswi145/Calc3/wsdl">
    <wsdl:import location="calculator.wsdl"
      namespace="http://tempuri.org/" />

	<wsdl:types>
		<xsd:schema targetNamespace="http://nswi145/Calc3/xsd">
			<xsd:element name="calcIn">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="calcInA" type="xsd:integer"/>
						<xsd:element name="calcInB" type="xsd:integer"/>						
					</xsd:sequence>					
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="calcOut" type="xsd:integer"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="CalcInputMessage">
		<wsdl:part name="parameters" element="tnsxsd:calcIn"/>
	</wsdl:message>
	<wsdl:message name="CalcOutputMessage">
		<wsdl:part name="parameters" element="tnsxsd:calcOut"/>
	</wsdl:message>
	
	<wsdl:portType name="CalcPortType">
		<wsdl:operation name="calculateSomething">
			<wsdl:input name="CalcIn" message="tns:CalcInputMessage"/>
			<wsdl:output name="CalcOut" message="tns:CalcOutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="AddResponsePortType">
		<wsdl:operation name="addOperation">
			<wsdl:input name="AddIn" message="calc:AddSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="MultiplyResponsePortType">
		<wsdl:operation name="multiplyOperation">
			<wsdl:input name="MultIn" message="calc:MultiplySoapOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CustomCalcSOAPBinding" type="tns:CalcPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calculateSomething">
			<soap:operation soapAction="urn:calculateSomething" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="AddSOAPBinding" type="tns:AddResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addOperation">
			<soap:operation soapAction="urn:addResponseOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="MultiSOAPBinding" type="tns:MultiplyResponsePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="multiplyOperation">
			<soap:operation soapAction="urn:multiplyResponseOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomCalcService3">
		<wsdl:port name="CalcPort" binding="tns:CustomCalcSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/CustomCalc3"/>
		</wsdl:port>
		<wsdl:port name="AddPort" binding="tns:AddSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/CustomCalc3Add"/>
		</wsdl:port>
		<wsdl:port name="MultPort" binding="tns:MultiSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/CustomCalc3Muli"/>
		</wsdl:port>
	</wsdl:service>

	<plnk:partnerLinkType name="CalcLinkType">
		<plnk:role name="CustomCalcExecutorRole" portType="tns:CalcPortType"/>
	</plnk:partnerLinkType>

	<plnk:partnerLinkType name="AddLinkType">
	  <plnk:role name="AdderRole" portType="calc:CalculatorSoap" />
	  <plnk:role name="AdderClientRole" portType="tns:AddResponsePortType" />
	</plnk:partnerLinkType>

	
	<plnk:partnerLinkType name="MultiplyLinkType">
	  <plnk:role name="MultiplierRole" portType="calc:CalculatorSoap" />
	  <plnk:role name="MultiplierClientRole" portType="tns:MultiplyResponsePortType" />
	</plnk:partnerLinkType>

</wsdl:definitions>
