lab05/WebContent/wsdl/eshopimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EshopImplService" targetNamespace="http://apolicky.cz/nswi145/yoghurtEshop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://apolicky.cz/nswi145/yoghurtEshop" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://apolicky.cz/nswi145/yoghurtEshop" version="1.0" xmlns:tns="http://apolicky.cz/nswi145/yoghurtEshop" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addYoghurt" type="tns:addYoghurt"/>

  <xs:element name="addYoghurtResponse" type="tns:addYoghurtResponse"/>

  <xs:element name="cancelOrder" type="tns:cancelOrder"/>

  <xs:element name="cancelOrderResponse" type="tns:cancelOrderResponse"/>

  <xs:element name="totalAmount" type="tns:totalAmount"/>

  <xs:element name="totalAmountResponse" type="tns:totalAmountResponse"/>

  <xs:complexType name="cancelOrder">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="cancelOrderResponse">
    <xs:sequence>
      <xs:element name="cancel_success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addYoghurt">
    <xs:sequence>
      <xs:element name="count" type="xs:int"/>
      <xs:element name="flavor_id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addYoghurtResponse">
    <xs:sequence>
      <xs:element name="add_success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="totalAmount">
    <xs:sequence>
      <xs:element name="total_amount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="totalAmountResponse">
    <xs:sequence>
      <xs:element name="total_amount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addYoghurtResponse">
    <wsdl:part name="parameters" element="tns:addYoghurtResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addYoghurt">
    <wsdl:part name="parameters" element="tns:addYoghurt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelOrder">
    <wsdl:part name="parameters" element="tns:cancelOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelOrderResponse">
    <wsdl:part name="parameters" element="tns:cancelOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="totalAmount">
    <wsdl:part name="parameters" element="tns:totalAmount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="totalAmountResponse">
    <wsdl:part name="parameters" element="tns:totalAmountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="eshopInterface">
    <wsdl:operation name="cancelOrder">
      <wsdl:input name="cancelOrder" message="tns:cancelOrder">
    </wsdl:input>
      <wsdl:output name="cancelOrderResponse" message="tns:cancelOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addYoghurt">
      <wsdl:input name="addYoghurt" message="tns:addYoghurt">
    </wsdl:input>
      <wsdl:output name="addYoghurtResponse" message="tns:addYoghurtResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalAmount">
      <wsdl:input name="totalAmount" message="tns:totalAmount">
    </wsdl:input>
      <wsdl:output name="totalAmountResponse" message="tns:totalAmountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EshopImplServiceSoapBinding" type="tns:eshopInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancelOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addYoghurt">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addYoghurt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addYoghurtResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalAmount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="totalAmount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="totalAmountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EshopImplService">
    <wsdl:port name="EshopImplPort" binding="tns:EshopImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/lab05/services/EshopImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
